// Color
$darkBlue: #12232e;
$lighteBlue: #007cc7;
$lightestBlue: #4da8da;
$shadowDarkBlue: #203647;
$shadowLightBlue: #eefbfb;
$white: hsl(0, 0%, 100%);

//Font Sizes
$font-sm: 0.875rem; //14px
$font-md: 1.125rem; //18px
